.gamePiece {
	color:#000;
	display:block;
	font-size:40px;
	height:55px;
	position:relative;
	text-decoration:none;
	text-shadow:0 1px #fff;
	text-align: center;
	font-weight: bold;
	width:55px;
}
#gameBoard { border:5px solid #333; }
#gameBoard td {
	background:#fff;
	background:-moz-linear-gradient(top, #fff, #eee);
	background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
	box-shadow:inset 0 0 0 1px #fff;
	-moz-box-shadow:inset 0 0 0 1px #fff;
	-webkit-box-shadow:inset 0 0 0 1px #fff;
	height:55px;
	text-align:center;
	vertical-align:middle;
	width:55px;
}
#gameBoard tr:nth-child(odd) td:nth-child(even),
#gameBoard tr:nth-child(even) td:nth-child(odd) {
	background:#ccc;
	background:-moz-linear-gradient(top, #ccc, #eee);
	background:-webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
	box-shadow:inset 0 0 10px rgba(0,0,0,.4);
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.4);
}

a.selectedPiece {
	border: 2px solid #000099;
}

.blue {
	color: #003262;
}
a.blue:hover {
	color: #003262;
}
.gold {
	color: #FDB515
}
a.gold:hover {
	color: #FDB515;
}
.white {
	color: #737373;
}
a.white:hover {
	color: #737373;
}
.red {
	color: #A60000;
}
a.red:hover {
	color: #A60000;
}

body { 
    padding-top: 65px; 
}

.scrollableTable {
	max-height: 300px;
	overflow: auto;
}

.tabDiv {
	max-height: 175px;
	overflow: auto;
	overflow-y: scroll;
}

body, html {height:100%;}
